version: '3.8'
services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    restart: always

  node-exporter:
    image: prom/node-exporter # Node Exporter는 서버의 상태를 측정해서 보고
    container_name: node-exporter
    ports:
      - "9100:9100"
    restart: always

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    restart: always

  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    user: root
    dns:
      - 8.8.8.8
      - 8.8.4.4
    ports:
      - "8088:8080" # 외부 접속 포트 8088
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/lib/jenkins
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
      - /home/okhi3/.kube:/root/.kube:ro
      - /home/okhi3/yh-ticketing:/var/jenkins_home/workspace/yh-ticketing
    environment:
      - JAVA_OPTS=-Xmx512m